
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <meta name="description" content="见证梦想，铸就辉煌" />
    <meta name="keywords" content="梦想 成长 希望 记录" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo-big.ico" media="screen" />
    <title>梦想站•记录梦想平台</title>
    <title>注册•梦想站</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/iconfont.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="/" data-toggle="tooltip" title="返回首页">
                <img src="~/images/logo-big.ico" alt="Logo" class="pull-left" />
            </a>
            <p class="navbar-text pull-left">
                <span>梦想站</span>
                <span>• 记录你的梦想</span>
            </p>
            <!--小铃铛-->
            <a href="#" class="navbar-text pull-left">
                <i class="iconfont icon-bell"></i>
            </a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="iconfont icon-bzzx" ></i>求助</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="iconfont icon-fa-edit"></i>发布</a></li>
                            <li><a href="#"><i class="iconfont icon-main-query0"></i>列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="iconfont icon-eye"></i>督促</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="iconfont icon-fa-edit"></i>求督促</a></li>
                            <li><a href="#"><i class="iconfont icon-gavel"></i>督促别人</a></li>
                            <li><a href="#"><i class="iconfont icon-main-query0"></i>我的目标</a></li>
                            <li><a href="#"><i class="iconfont icon-main-query0"></i>我的督促</a></li>
                            <li><a href="#"><i class="iconfont icon-money1"></i>未交作业</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div> 
    
</body>
</html>
